{{ define "content" }}

<div class="jumbotron" style="height: 400px;">
    <div id="placeholder" style="width:600px;height:300px; float: right;"></div>

    <p><a class="btn btn-lg btn-success" onclick="window.startGame('up');" role="button">UP</a></p>
    <p><a class="btn btn-lg btn-success" onclick="window.startGame('down');" href="#" role="button">DOWN</a></p>

    <h1 id="status"></h1>

    <script src="/static/app.js"></script>
</div>
<footer class="footer">
    <p>&copy; Company 2017</p>
</footer>

{{ end }}