<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple exchange</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {{ if eq .ModuleName "game" }}
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.js"></script>
    {{ end }}
</head>
<body>
{{ template "content" }}
</body>