<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple exchange</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {{ if eq .ModuleName "game" }}
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/static/flot/jquery.flot.js"></script>
    {{ end }}
</head>
<body>

<div class="container">
    <div class="header clearfix" style="margin: 20px;">
        <nav>
            <ul class="nav nav-pills float-right">
                {{ if .IsAuth }}
                <li class="nav-item">
                    <a class="panel-body">User: {{ .UserName }}, Balance: <span id="money">{{ .Money }}</span></a>
                </li>
                {{ end }}
            </ul>
        </nav>
        <h3 class="text-muted">FairExchange</h3>
    </div>

    {{ template "content" }}

</div>

</body>